body {
    background-color: lightgray;
}

.container {
    margin-top: 100px;
}

.header {
    text-align: center;
}

form {
    background-color: white;
    width: 30%;
    margin: auto;
    padding: 10px;
}

.field {
    display: flex;
}

i {
    align-self: center;
    margin-right: 10px;
}